@tailwind base;
@tailwind components;
@tailwind utilities;

.box-container{
  background: rgb(247,241,253);
  background: linear-gradient(119deg, rgba(247,241,253,1) 29%, rgba(243,82,62,1) 29%, rgba(243,82,62,1) 58%, rgba(246,114,75,1) 58%);
}

.bar {
  height: 24px;
  background-color: #E18145;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  -webkit-box-shadow:0px 0px 40px 24px rgba(225,129,69,0.33);
  -moz-box-shadow: 0px 0px 40px 24px rgba(225,129,69,0.33);
  box-shadow: 0px 0px 40px 24px rgba(225,129,69,0.33);
}

.habilities-box{
  width: 200px;
  height: 100px;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  border:  3px solid;
  align-items: center;
  justify-content: center;
  display: flex;
  background: url(/images/bg-balls.svg), linear-gradient(180deg, #ff8a00, #ff3600);
  background-size: 101%;
  background-position: bottom, 50%;
  background-repeat: no-repeat;
  color: #fff;
  }

.bg-card-pokemon{
  background: url(/images/bg-balls.svg), radial-gradient(circle, rgba(240,80,60,1) 26%, rgba(246,240,252,1) 10%);
  background-size: 101%;
  background-position: top, 50%;
  background-repeat: no-repeat;
  color: #fff;
}